# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# FVM
.fvm/flutter_sdk

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Ephemeral Flutter iOS/Android Native Artifacts
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.tbd
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json

# Example project artifacts
**/example/.dart_tool/
**/example/.flutter-plugins-dependencies
**/example/build/
**/example/.pub-cache/
**/example/.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
